body {
    background-color: #FEFCFF;
    color: #504A4B;
}
a {
    color: #4863A0;
}
.fa-question-circle-o {
    font-size:1.15em;
}
.fa-heart {
    color: #FA5858;
}
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}
